@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f4f9;

  font-size: 11pt;
}

.block01 {
  margin-top: 15%;
  display: flex;
  width: 550px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 9px rgb(0, 0, 0, 0.1);
}
.block01-hide{
    visibility: hidden;
    display: none;
} 

.one {
  width: 45%;
  background-color: rgb(26, 115, 232);
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.one h1 {
  text-align: center;
  display: inline-block;
  color: aliceblue;
  margin-top: 25%;
  text-shadow: 0.1px 0.1px 0.2px rgb(0, 0, 0);

  font-size: xxx-large;
}

.one p {
  margin-top: 5%;
  margin-bottom: 40%;
  font-size: 10pt;
  line-height: 0.9;
  color: white;
  text-shadow: 0.1px 0.1px 0.2px rgb(0, 0, 0);
  font-weight: bolder;
}

.one img {
  width: 100px;
}

.two {
  display: flex;
  width: 55%;
  padding: 10px;
  background-color: #ffffff;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.two img {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  margin: 10px;
  cursor: pointer;
}

.two form {
  display: block;
  text-align: left;
  padding: 10px;
  overflow: hidden;
}

.styleC {
  border: none;
  border-bottom: solid black 1px;
  outline: none;
  padding: 3px 3px 1px 0px;
  font-weight: 400;
  font-size: 9pt;
  margin-bottom: 19px;
  display: block;
  width: 200px;
}
.styleC:focus {
  color: #000000;
  border-bottom: solid #1a73e8 1px;
}
label {
  font-size: 9pt;
  display: block;
}

.agreeBox {
  display: flex;
  position: absolute;
  align-items: center;
  font-size: 7pt;
  text-align: left;
}
.checkbox {
  cursor: pointer;
}

.agreement {
  padding: 0px 0px 0px 4px;
}
.btnsignup {
  margin-top: 40px;
  display: inline-block;
  padding: 7px 15px 7px 15px;
  border: none;
  background-color: #1a73e8;
  border-radius: 50px 50px;
  color: white;
  text-align: center;
}

.btnsignup:hover {
  scale: 1.01;
  cursor: pointer;
}

.or {
  display: inline-block;
  padding: 0 2px 0 7px;
  font-size: 9pt;
}

a {
  text-decoration: none;
  color: #1a73e8;
  cursor: pointer;
}

a:hover {
  color: rgb(255, 42, 41);
}

.error {
  font-size: 8pt;
  font-weight: bold;
  color: red;
  outline: none;
}

.popup {
  width: 200px;
  height: 200px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 0 30px 30px;
  transform: translate(-50%, -50%) scale(0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;

}
.popup-open {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}



.popup img {
  width: 90px;
  border-radius: 50%;
  border: none;
  margin-top: -50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h1 {
  margin: 15px;
  font-weight: 400;
}

.popup p{
    text-align: center;
    font-size: 10pt;
}


.popup button {
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border: none;
  background-color: yellowgreen;
  color: white;
  margin-top: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
